.App {
  text-align: center;
}

input[type="text"] {
  width: 100% !important;
}

.movies-container, .search-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies-container .movie-item {
  text-align: center;
  line-height: 75px;
  font-size: 14px;
  padding: 1em;
}

.movie-detail {
  line-height: 20px !important;
  font-size: 0.8rem;
  text-align: left;
}

.movie-detail-left, .movie-detail-right {
  display: inline;
}

.movie-detail-left {
  font-weight: bold;
}

.movie-detail-right {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(80%);
  display: inline-block;
  line-height: 10px;
}

.img-thumbnail {
  padding: 0!important;
  border: 5px solid #dee2e6 !important;
  width: 300px !important;
  height: 300px !important;
}

.alert-container, 
.search-info-container,
.loader-container {
  width: 100%;
  margin: 0 2%;
  text-align: center;
}

.search-info-container {
  margin: 1rem 0;
}

.search-query {
  color: #007bff;
  font-weight: bold;
}

.dropdown > a {
  color: #fff;
}

.user-icon {
  float: left;
  line-height: 40px !important;
}

.pagination-row {
  justify-content: center;
}

.page-link {
  padding: 0.25rem 0.5rem !important;
}
